body {
  font-family: sans-serif;
}

a {
    text-decoration: none;
  }
  
.navbar {
  background-color: #333333;
  display: flex;
  align-items:center;
}
  
.navbar a {
  color: #e7e7e7;
}
  
.navbar .brand {
  display: block;
  padding: 0 24px;
  font-size: 24px;
}
  
.navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items:center;
  justify-content: flex-start;
}
  
.navbar ul li a {
  color: #e7e7e7;
  padding: 24px;
  display: block;
}
  
.navbar ul a:hover,
.navbar ul a:focus,
.navbar ul .active {
  background-color: #272727;
}




table {
  border-collapse: collapse;
}
  
caption {
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  color: #333;
}

tr:nth-child(odd) {
  background: #CCC
}
  
th {
   width: 20%;
  background-color: #333;
  color: white;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2%;
}

th, td {
  border: 1px solid black;
  padding: 8px;
}






.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  width: 25%;
  /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #333;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


select {
  outline: 0;
  background: white;
  width: 100%;
  height: 100%;
  color: black;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 3px;
}

.select {
  position: relative;
  display: block;
  width: 15em;
  height: 2em;
  line-height: 3;
  overflow: hidden;
  border-radius: .25em;
  padding-bottom: 10px;
}

#purchase-button {
  background-color: #333;
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}